<div class="jumbotron">
  <h1 class="center">Sign Up</h1>
</div>

<% if resource.errors.any? %>
    <div class="alert alert-danger"><%= devise_error_messages! %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: {class: "form-register say-form"}) do |f| %>

 <!--  <%= f.hidden_field :role, value: User::ROLES[0] %> -->

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "off",  autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :school %><br />
    <%= f.select :school, Settings.schools, {prompt: "Select your school..."}, class: "form-control", id: "school-select" %>
  </div>

  <div class="form-group">
    <%= f.label :teacher %><br />
    <%= f.text_field :teacher, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :grade %><br />
    <%= f.select :grade, Submitter::GRADES, {prompt: "Select your grade..."}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <p class="help-block">Include a short personal bio with your submission. In one or two third-person sentences, tell us about yourself!  If we publish your submission, we'll include your bio as well.  If you want to change it later, dont' worry!  You can edit your bio anytime before the submission deadline.</p>
    <%= f.text_area :bio, cols: 100, rows: 8, class: "form-control" %>
  </div>

  <div class="actions center">
    <%= f.submit "Sign up", class: "btn btn-lg btn-success" %>
  </div>
<% end %>

<script>
    $("#school-select").select2();
</script>
