  <% if @artwork.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form_for @artwork, :html => { :multipart => true, class: 'say-form'  } do |f| %>
  <% if current_admin %>
    <div class="form-group">
      <%= f.label :user_id, "Submitter" %><br>
      <%= f.select(:user_id, options_from_collection_for_select(Submitter.all, 'id', 'name', params[:user_id]), {}, {id: 'user-select', class: 'form-control'}) %>
    </div>
  <% else %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if @artwork.image.exists? %> 
      <strong>Uploaded filename:</strong> <%= @artwork.image_file_name %><br/>
    <% else %>
      <%= f.label :image %>
      <p class="help-block">Art should be sent as high-quality JPEG files. Art may be sent in color or in black and white.</p>
      <%= f.file_field :image %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
    <%= link_to 'Back', :back, class: "btn btn-danger right" %>
  </div>
<% end %>

<script>
    $("#user-select").select2();
</script>
