<% if current_submitter %>
	<div class="jumbotron">
	  <h1 class="center"><%= @artwork.title %></h1>
	  <p class="center">If you cannot see your artwork here, unfortunately we won't be able to see it either!</p>
	</div>
	<div class='center bottom-margin'>
	  <%= link_to 'Edit Title', edit_artwork_path(@artwork), class: 'btn btn-primary form-button' %>
	  <%= link_to 'Done', submissions_show_path, class: 'btn btn-success form-button' %>
	  <%= link_to 'Remove Submission', @artwork, method: :delete, class: 'btn btn-danger' %>
	</div>
	<div><%= image_tag @artwork.image.url(:medium), class: 'centered-img' %></div>
<% end %>

<% if current_editor || current_admin %>
	<div class="jumbotron">
	  <h1 class="center"><%= @artwork.title %></h1>
	</div>
  <div class="col-md-9"><%= image_tag @artwork.secureUrl(:medium), class: 'center-img' %></div>
  <%= render partial: 'shared/editor_pane', locals: {submission: @artwork, type: "artwork"} %>
<% end %>
