
<h2>Unapproved Editors</h2>
<% if @unapproved_editors.any? %>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @unapproved_editors.each do |editor| %>
        <tr>
          <td class="col-md-4"><%= link_to editor.name, user_path(editor) %></td>
          <td class="col-md-4"><%= editor.email %></td>
          <td class="col-md-2"><%= link_to 'Approve', toggle_approved_status_user_path(editor), method: :put %></td>
          <td class="col-md-2"><%= link_to 'Deny', user_path(editor), method: :delete, data: { confirm: "This will delete the account.  Are you sure?" } %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>No unapproved editors.</p>
<% end %>

<h2>Approved Editors</h2>
<% if @approved_editors.any? %>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @approved_editors.each do |editor| %>
        <tr>
          <td class="col-md-4"><%= link_to editor.name, user_path(editor) %></td>
          <td class="col-md-4"><%= editor.email %></td>
          <td class="col-md-2"><%= link_to 'Make Admin', toggle_admin_role_user_path(editor), method: :put %></td>
          <td class="col-md-2"><%= link_to 'Unapprove', toggle_approved_status_user_path(editor), method: :put %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>No approved editors.  You need to start recruiting NOW!!!</p>
<% end %>

<h2>Admins</h2>
<% if @admins.any? %>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td class="col-md-4"><%= link_to admin.name, user_path(admin) %></td>
          <td class="col-md-4"><%= admin.email %></td>
          <td class="col-md-4"><%= link_to 'Make Editor', toggle_admin_role_user_path(admin), method: :put %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>No admins.  Oh dear...</p>
<% end %>