<% if current_editor || current_admin %>
    <h2>Leaderboard</h2>
    <div class="search">
      <%= search_form_for @search, url: leaderboards_users_path, html: {class: "form-inline"} do |f| %>
        <div class="form-group">
          <%= f.search_field :full_name_cont, placeholder: "Search...", class: "form-control", style: "width: 500px" %>
          <%= button_tag(type: 'submit', class: "btn") do %>
            <span class="glyphicon glyphicon-search"></span> 
          <% end %>
        </div>
      <% end %>
    </div>
  <table class="table table-striped">
  <thead>
    <th><%= sort_link(@search, :last_name, "Name") %></th>
    <th><%= sort_link(@search, :ratings_count, "Total Ratings") %></th>
    <th>Average Doc Rating (<%= Rating.where(artwork_id: nil).average(:rating_val).round(2) %> overall)</th>
    <th>Average Art Rating (<%= Rating.where(document_id: nil).average(:rating_val).round(2) %> overall)</th>
  </thead>
  <tbody>
    <% @all_editors.each do |u| %>
        <tr>
          <td><%= u.name %></td>
          <td><%= u.ratings_count %></td>
          <td><%= u.avg_art_rating() %></td>
          <td><%= u.avg_doc_rating()  %></td>
        </tr>

    <% end %>

  </tbody>

</table>

<% end %>