<div class="jumbotron">
  <h1 class="center">Forgot your password?</h1>
</div>

<% if resource.errors.any? %>
    <div class="alert alert-danger"><%= devise_error_messages! %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-register say-form"}) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>
