<% if current_submitter %>
    <div class="jumbotron">
      <h1>Welcome, <%= current_user.first_name %>!</h1>
    </div>
  <% if can? :create, Document %>
    <div>
      <h2>Submission Guidelines:</h2>
      <p> All submissions must be recieved no later than <strong>January 11, 2015 at 11:59 PM</strong>.  Please submit <strong>no more than 3 pieces of writing of contrasting styles (poetry, fiction, and nonfiction) and 3 pieces of art</strong>.  Show us your very best work!  Written submissions should be in a .doc, .docx, or .pdf file.  Art should be sent as high-quality JPEG files. Art may be sent in color or in black and white.<br><br>Note: By submitting, you give SAY permission to publish your work in the print anthology as well as online and to do minimal amounts of editing.</p>
    </div>
    <%= link_to 'Upload Written Submission', new_document_path, class: 'btn btn-lg btn-success' %>
    <%= link_to 'Upload Artwork', new_artwork_path, class: 'btn btn-lg btn-primary right' %>
  <% end %>

<% end %>

<% if current_editor || current_admin %>
  <h2>Written Submissions (<%= @documents.count %>)</h2>
  <div class="search">
    <%= search_form_for @search, html: {class: "form-inline"} do |f| %>
      <div class="form-group">
        <%= f.text_field :title_or_style_or_user_school_or_user_full_name_cont, placeholder: "Search...", class: "form-control", style: "width: 500px" %>
        <%= button_tag(type: 'submit', class: "btn") do %>
          <span class="glyphicon glyphicon-search"></span> 
        <% end %>
      </div>
    <% end %>
  </div>
  <table class="table table-striped">
  <thead>
    <th><%= sort_link(@search, :title, "Title") %></th>
    <th><%= sort_link(@search, :style, "Style") %></th>
    <th><%= sort_link(@search, :user_full_name, "Author") %></th>
    <th><%= sort_link(@search, :user_school, "School") %></th>
    <th><%= sort_link(@search, :ratings_count, "# of Ratings") %></th>
    <th><%= sort_link(@search, :average_rating, "Average Rating") %></th>
  </thead>
  <tbody>
    <% @documents.each do |doc| %>
      <% if doc.already_rated(current_user) %>
        <tr class="already-read">
      <% else %>
        <tr>
      <% end %>
          <td><%= link_to doc.title, document_path(doc.id)  %></td>
          <td><%= doc.style %></td>
          <td><%= doc.submitter.first_name + ' ' + doc.submitter.last_name %></td>
          <td><%= doc.submitter.school %></td>
          <td><%= doc.ratings_count %></td>
          <td><%= doc.average_rating ? doc.average_rating.round(2) : "n/a"  %></td>
        </tr>
    <% end %>

  </tbody>

</table>

<%= will_paginate @documents, renderer: BootstrapPagination::Rails %>
<% end %>
