  <% if @document.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form_for @document, :url => documents_path, :html => { :multipart => true, class: 'say-form'  } do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :style %><br>
    <%= f.select :style, Document::STYLES, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
    <%= link_to 'Back', submissions_show_path, class: "btn btn-danger right" %>
  </div>
<% end %>
