  <% if @document.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form_for @document, :html => { :multipart => true, class: 'say-form'  } do |f| %>
  <% if current_admin %>
    <div class="form-group">
      <%= f.label :user_id, "Submitter" %><br>
      <%= f.select(:user_id, options_from_collection_for_select(Submitter.all, 'id', 'name', params[:user_id]), {}, {id: 'user-select', class: 'form-control'}) %>
    </div>
  <% else %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :style %><br>
    <%= f.select :style, Document::STYLES, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if @document.file.exists? %>
      <strong>Uploaded filename:</strong> <%= @document.file_file_name %><br/>
    <% else %>
      <%= f.label :file %>
      <p class="help-block">Written submissions should be in a .doc, .docx, or .pdf file.</p>
      <%= f.file_field :file %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
    <%= link_to 'Back', submissions_show_path, class: "btn btn-danger right" %>
  </div>
<% end %>

<script>
    $("#user-select").select2();
</script>
