

  <h2>Written Submissions</h2>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Submitter</th>
      <th>Style</th>
      <th>Submitted On:</th>
      <th></th>
    </thead>
    <tbody>
      <% @documents.each_with_index do |doc, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= link_to doc.title, document_path(doc.id)  %></td>
          <td><%= doc.user.name %>
          <td><%= doc.style %></td>
          <td><%= doc.created_at.strftime("%m/%d/%Y at %I:%M %p") %></td>
          <td><%= link_to 'Remove', doc, method: :delete %>
        </tr>
    <% end %>
  </table>
