<% if @document.file_content_type == "application/pdf" %>
    <% doc_viewer_url = 'https://docs.google.com/viewer?url=' + @document.file.url %>
  <% else %>
    <% doc_viewer_url = 'https://view.officeapps.live.com/op/view.aspx?src=' + @document.file.url %>
  <% end %>
<% if current_submitter %>
	<div class="jumbotron">
	  <h1 class="center"><%= @document.title %> <span class="weak"> (<%= @document.style %>)</span></h1>
	  <p class="center">This is how your submission will appear to the SAY editors.  If you cannot either (1) see it here or (2) download it using the link below, unfortunately we won't be able to see it either!</p>
	</div>
	<div class='center bottom-margin'>
	  <%= link_to 'Edit Submission Info', edit_document_path(@document), class: 'btn btn-primary form-button' %>
	  <%= link_to 'Done', submissions_show_path, class: 'btn btn-success form-button' %>
	  <%= link_to 'Remove Submission', @document, method: :delete, class: 'btn btn-danger' %>
	</div>
	<p class="help-block">Preview window not showing up?  Try <%= link_to 'downloading the file directly', @document.file.url, target: "_blank" %>.</p>
	<iframe src="<%= doc_viewer_url %>&embedded=true" 
	width="100%" height="800" frameborder="0" >
	<p>Your browser does not support iframes.</p>
	</iframe>
<% end %>

<% if current_editor || current_admin %>
	<div class="jumbotron">
	  <h1 class="center"><%= @document.title %> <span class="weak"> (<%= @document.style %>)</span></h1>
	  <p class="center">By: <%=link_to @document.user.name, user_path(@document.user) %></p>
	</div>
	<% if @rating.errors.any? %>
		    <div id="error_explanation" class="alert alert-danger">
		      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this submission from being saved:</h2>

		      <ul>
		      <% @rating.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% elsif @comment.errors.any? %>
		    <div id="error_explanation" class="alert alert-danger">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this submission from being saved:</h2>

		      <ul>
		      <% @comment.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
	<div>
		<p class="help-block">Preview window not showing up?  Try <%= link_to 'downloading the file directly', @document.file.url, target: "_blank" %>.</p>
	</div>
	<span>
		<iframe src="<%= doc_viewer_url %>&embedded=true" 
		width="70%" height="800" frameborder="0" >
		<p>Your browser does not support iframes.</p>
		</iframe>
	</span>
	<span class="editor-tools">

		<%if current_admin then %>
			<div id="approved-button" class="admin-actions center">
				<% button_action = @document.accepted ? "Reject" : "Accept" %>
				<% button_classes = @document.accepted ? "btn btn-danger" : "btn btn-success" %>
	      <%= link_to button_action, toggle_approved_document_path(@document), remote: true, method: :post, class: button_classes, id: "accept-button" %>
			</div>
			<div class="admin-actions center">
				<%= link_to 'Edit Submission Info', edit_document_path(@document), class: 'btn btn-primary'%>
			</div>
		<% end %>
		
		
		<%= form_for ([@document, @rating]) do |f| %>
	
			<div class="form-group">
				<%= f.label :rating, "Your rating:" %><br />
			    <%= f.select :rating_val, Document::RATINGS, {prompt: "Rate this piece"}, class: "form-control", id: "rating-select" %>
			 </div>
			 <div class="actions center">
    			<%= f.submit "Save Rating", class: "btn btn-success" %>
  			</div>
  		<% end %>
  		<br />

  		<% if @document.ratings.count > 0 %>
  		<div class="panel panel-default">
  		  <div class="panel-heading">
  		    <h3 class="panel-title">Average Rating: <%= @document.average_rating.round(2) %></h3>
  		  </div>
  		  <div class="panel-body">
  		    <% for rating in @document.ratings %>
	  			<% rater = User.find(rating.user_id) %>
	  			<b><%= rater.first_name %> <%= rater.last_name %>: </b> <%= rating.rating_val %>
	  			<br />
	  		<% end %>
  		  </div>
  		</div>
  		<% end %>

  		<%= form_for ([@document, @comment]) do |f| %>
	
			<div class="form-group">
				<%= f.label :comment, "Comment:" %><br />
			    <%= f.text_area :comment_text, cols: 100, rows: 8, class: "form-control" %>
			 </div>
			 <div class="actions center">
    			<%= f.submit "Add Comment", class: "btn btn-info" %>
  			</div>

  		<% end %>
  		<br />
  		<% for comment in @document.comments.order("created_at desc") %>
  			<% commenter = User.find(comment.user_id) %>
  			<p><b><%= commenter.first_name %> <%= commenter.last_name %>: </b> <%= comment.comment_text %></p>
  			<br />
  		<% end %>
	</span>
<% end %>

