<div class="jumbotron">
  <h1>All Submissions</h1>
</div>
  
<h2>Written Submissions</h2>
<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Title</th>
    <th>Style</th>
    <th>Author</th>
    <th>School</th>
    <th># of Reads</th>
    <th>Average Rating</th>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @submitters.each do |submitter| %>
      <% submitter.documents.each do |doc| %>
        <tr>
          <td><%= i += 1 %></td>
          <td><%= link_to doc.title, document_path(doc.id)  %></td>
          <td><%= doc.style %></td>
          <td><%= submitter.first_name + ' ' + submitter.last_name %></td>
          <td><%= submitter.school %></td>
          <td/>
          <td/>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


