<!DOCTYPE html>
<html>
<head>
  <title>Say</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- class = navbar brand -->
          <%= link_to 'Stanford Anthology For Youth', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if (user_signed_in?) %>
              <li><%= link_to 'Help', home_help_path %></li>
              <% if current_submitter %>
                <li><%= link_to 'My Submissions', submissions_show_path %></li>
              <% elsif ((current_editor && current_editor.approved) || current_admin) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Editor Tools <span class="caret"></span></a>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><%= link_to 'Written Submissions', home_index_path %></li>
                    <li role="presentation"><%= link_to 'Art Submissions', artworks_path %></li>
                    <li role="presentation"><%= link_to 'Title Suggestions', comments_path %></li>
                    <% unless current_admin %>
                    <li role="presentation"><%= link_to 'Submitter Index', users_path %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              <% if (current_admin) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Tools <span class="caret"></span></a>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><%= link_to 'Permissions', admin_tools_users_path %></li>
                    <li role="presentation"><%= link_to 'Create Submitter', new_submitter_users_path %></li>
                    <li role="presentation"><%= link_to 'Submitter Index', users_path %></li>
                    <li role="presentation"><%= link_to 'Settings', settings_path %></li>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
    <% if flash[:notice] then %><div class="alert alert-info"><%= flash[:notice] %></div><% end %>
    <% if flash[:alert] then %><div class="alert alert-danger"><%= flash[:alert] %></div><% end %>
    <%= yield %>
  </div>
</body>
</html>
