<!DOCTYPE html>
<html>
<head>
  <title>Say</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- class = navbar brand -->
          <%= link_to 'Stanford Anthology For Youth', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (user_signed_in?) %>
              <li><%= link_to 'Help', home_help_path %></li>
              <% if current_user.role == "submitter" %>
                <li><%= link_to 'My Submissions', submissions_show_path %></li>
              <% elsif (current_user.role?(:editor)) %>
                <li><a href="#about">Editor Tools</a></li>
              <% end %>
              <% if (current_user.role?(:admin)) %>
                <li><a href="#about">Admin</a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
    <% if flash[:notice] then %><div class="alert alert-info"><%= flash[:notice] %></div><% end %>
    <% if flash[:alert] then %><div class="alert alert-danger"><%= flash[:alert] %></div><% end %>
    <%= yield %>
  </div>
</body>
</html>
